/**
 * GeneratePress theme styling
 */

.top-bar {
    display: none;
}

.home .top-bar {
    font-size: 1rem;
    display: block;

    .inside-top-bar {
        gap: 2em;
    }

    .widget {
        order: 0 !important;
        margin: 0 !important;
    }
}
