/**
 * Header/menu styles
 */

// Let's define our menu icon in one place so we can use it twice below.
// We're replacing the dropdown hamburger menu icon with our own.
%ct-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.714rem;
    height: 17.5px;
    padding: 0;
    margin: 0;
    line-height: 0;
    font-size: 0;
    background-color: transparent !important;

    &:before {
        content: "";
        display: block;
        width: 100%;
        max-width: 30px;
        height: 17.5px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url(../images/icons/menu-icon.svg);
    }

    &:hover {
        background-color: transparent !important;
    }
}

.header-wrap {
    font-size: 1rem;

    // Desktop navigation bar. Hidden on mobile.
    .main-navigation {
        #menu-main {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            & > .menu-item {
                & > a {
                    padding: 1.2857rem 1.2rem;
                    line-height: 1.5;
                    font-weight: 700;
                }

                // Apply this style to a menu item in the WP Admin backend.
                // This will convert the menu option to a button.
                &.ct-menu-button {
                    > a {
                        display: inline-block;
                        padding: 1.2857rem 2rem;
                        // Same color as our button in the Appearance > Customize > Color panel.
                        color: var(--ct-form-button-text-color) !important;
                        background-color: var(--ct-form-button-background-color) !important;
                        line-height: 1.5;
                        margin-left: 1.2rem;

                        &:hover {
                            color: var(--ct-form-button-text-color-hover) !important;
                            background-color: var(--ct-form-button-background-color-hover) !important;
                        }
                    }
                }
            }
        }

        // Replace the dropdown hamburger menu icon with our own.
        .slideout-toggle {
            .pro-menu-bars {
                display: none;
            }

            & > a {
                @extend %ct-menu-icon;
            }
        }
    }

    // Mobile toggle menu
    #mobile-header > .inside-navigation {
        align-items: stretch;

        svg {
            display: none;
        }

        // Replace the dropdown hamburger menu icon with our own.
        .menu-toggle {
            .icon-menu-bars {
                @extend %ct-menu-icon;
                width: 1.714rem;
            }
        }
    }
}

// Slideout menu layout.
#generate-slideout-menu {
    .main-nav {
        margin: 1rem 0 1rem;
    }

    .slideout-widget {
        margin: 1rem 0 2rem;
        padding: 0 1.428rem;
    }

    .menu-item {
        a {
            padding: 0.5rem 1.428rem;
        }
    }
}

// Let's keep the slideout overlay in place, but make it invisible.
.slideout-overlay {
    background-color: transparent !important;
}

/*
 * On all pages except the home page, position the header 'above' the page content.
 * i.e. Do not overlay the top content.
 */
body:not(.home) {
    .header-wrap {
        position: relative;

        .inside-header {
            padding-top: 0;
            padding-bottom: 0;
        }

        #menu-main {
            & > .menu-item {
                & > a {
                    padding-top: 2rem !important;
                    padding-bottom: 2rem !important;
                }
            }
        }
    }
}

/*
 * The landing page does not include a header.
 */
body.page-landing {
    .header-wrap {
        .site-header,
        #mobile-header {
            display: none !important;
        }
    }
}

/*
 * The top bar above the header is only displayed on the home page.
 */
.top-bar {
    display: none;
}
.home .top-bar {
    font-size: 1rem;
    display: block;

    .inside-top-bar {
        gap: 2em;
    }

    .widget {
        order: 0 !important;
        margin: 0 !important;
    }
}

