/**
 * Header/menu styles
 */

.header-wrap {
    font-size: 1rem;

    .main-navigation {
        #menu-main {
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            & > .menu-item {
                & > a {
                    padding: 1.2857rem 1.2rem;
                    line-height: 1.5;
                    font-weight: 700;

                    &:hover {
                        background-color: var(--contrast-4) !important;
                    }
                }

                // Apply this style to a menu item in the WP Admin backend.
                // This will convert the menu option to a button.
                &.ct-menu-button {
                    > a,
                    > a:hover {
                        display: inline-block;
                        padding: 1.2857rem 2rem;
                        color: var(--base) !important;
                        background-color: var(--accent-2) !important;
                        line-height: 1.5;
                        margin-left: 1.2rem;
                    }
                }

                // Apply this style to a menu item in the WP Admin backend.
                // This will convert the menu option to a drop-down icon.
                &.ct-submenu-icon {
                    & > a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 5.714rem;
                        height: 17.5px;
                        padding: 0;
                        margin: 0;
                        line-height: 0;
                        font-size: 0;

                        &:before {
                            content: "";
                            display: block;
                            width: 100%;
                            max-width: 30px;
                            height: 17.5px;
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-image: url(../images/icons/menu-icon.svg);
                        }

                        &:hover {
                            background-color: transparent !important;
                        }
                    }

                    .dropdown-menu-toggle {
                        display: none;
                    }

                    & > .sub-menu {
                        right: 1rem;
                        margin-top: 2rem;
                        padding: 1rem;
                        width: auto;
                        min-width: 14.2857rem;

                        > li > a:hover {
                            background-color: var(--contrast-4);
                        }
                    }
                }
            }
        }
    }

    #mobile-header {
        font-size: 1rem;

        #mobile-menu {
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            > .menu {
                width: 100%;
            }

            .menu-item {
                 > a:hover {
                    background-color: var(--contrast-4);
                }
            }

            .sub-menu {
                padding: 1rem;
            }
        }
    }
}

/*
 * On all pages except the home page, position the header 'above' the page content.
 * i.e. Do not overlay the top content.
 */
body:not(.home) {
    .header-wrap {
        position: relative;

        .inside-header {
            padding-top: 0;
            padding-bottom: 0;
        }

        #menu-main {
            & > .menu-item {
                & > a {
                    padding-top: 2rem !important;
                    padding-bottom: 2rem !important;
                }
            }
        }

        &.ct-menu-button {
            > a,
            > a:hover {
                    padding: 2rem 0;
            }
        }
    }
}

/*
 * The landing page does not include a header.
 */
body.page-landing {
    .header-wrap {
        .site-header,
        #mobile-header {
            display: none !important;
        }
    }
}

/*
 * The top bar above the header is only displayed on the home page.
 */
.top-bar {
    display: none;
}
.home .top-bar {
    font-size: 1rem;
    display: block;

    .inside-top-bar {
        gap: 2em;
    }

    .widget {
        order: 0 !important;
        margin: 0 !important;
    }
}

